<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
<head>
	<meta chartset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>lifedays</title>
	<link rel="stylesheet" type="text/css" href="/foundation/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/foundation/css/foundation.css">
	<!--<link rel="stylesheet" type="text/css" href="css/app.css">
	-->
</head>
<body>
	<!-- Content -->
	<div class="row">
		<div class="large-4 large-centered columns">	
			<img class="th radius" src="{{photo}}">
			<h2> {{ name }} </h2>
		</div>
	</div>
	<!-- Footer -->
	<footer class="row">
		<div class="large-4 large-centered columns">
			<p> <a href="http://opensource.org/licenses/MIT">MIT License</a> © <a href="https://twitter.com/jobsamuel">Jobsamuel Núñez</a></p>
		</div>
	</footer>
</body>
</html>